Pillow
devgoldyutils
re
beautifulsoup4
requests
flask
shutil
twisted
scrapy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability